<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저등록</title>
</head>
<body>
    <form id="userForm" method="post">
        <label for="userEmail">Email</label>
        <input id="userEmail" name="userEmail" placeholder="이메일을 입력하세요.">
        <label for="userPassword">Password</label>
        <input id="userPassword" name="userPassword" placeholder="비밀번호 입력하세요.">
        <label for="userPhone">Phone</label>
        <input id="userPhone" name="userPhone" placeholder="휴대폰 번호를 입력하세요.">
        <label for="userGender">Gender</label>
        <input id="userGender" name="userGender" placeholder="성별을 입력하세요.">
        <label for="userBirth">Birth</label>
        <input id="userBirth" name="userBirth" placeholder="생일을 입력하세요.">
        <label for="userName">Name</label>
        <input id="userName" name="userName" placeholder="이름을 입력하세요.">
        <label for="userWebsite">Website</label>
        <input id="userWebsite" name="userWebsite" placeholder="웹사이트를 입력하세요.">
        <label for="userIntroduce">Introduce</label>
        <input id="userIntroduce" name="userIntroduce" placeholder="자기소개를 작성해주세요.">
        <label for="userImage">Image</label>
        <input id="userImage" name="userImage" placeholder="사진 입력하세요.">
        <button type="submit">이거 누르면 가입이댜</button>
    </form>
</body>
</html>