<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>환영합니다</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="header">
            <ul>
                <li>로고</li>
                <li class="fr wd95rm">프로필</li>
                <li class="fr wd95rm">보내기</li>
                <li class="fr wd95rm">검색</li>
                <li class="fr wd95rm">모습</li>
            </ul>
        </div>
    </div>
</body>
</html>