<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimsmile.clone_instagram.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.kimsmile.clone_instagram.Dto.User">
        insert into T_MEMBER (USER_NO,USER_EMAIL,USER_PASSWORD,USER_PHONE,USER_GENDER,USER_BIRTH,USER_NAME,USER_WEBSITE,USER_INTRODUCE,USER_IMAGE)
        VALUE (USER_NO_SEQ.NEXTVAL , #{userEmail},#{userPassword},#{userPhone},#{userGender},#{userBirth},#{userName},#{userWebsite},#{userIntroduce},#{userImage})
    </insert>

</mapper>